 {% block _tara_product_cod_oem_widget %}
    {% if product.test is not null %}
        <div {{ block('block_attributes') }}>
            {%- spaceless -%}
                CodOEM: <span class="product-test" itemprop="codOEM">{{- product.test -}}</span>
            {%- endspaceless -%}
        </div>
    {% endif %}
{% endblock %}

 % block __oro_product_list_item__product_cod_oem_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-item__number product-item__number--{{ class_prefix }}'
    }) %}
    <div {{ block('block_attributes') }}>
        {%- spaceless -%}
            CodOEM: <span class="product-test" itemprop="codOEM">{{- product.test -}}</span>
        {%- endspaceless -%}
    </div>
{% endblock %}


{#{% block _tara_product_cod_oem_widget %}#}
{#{% endblock %}#}